{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=madevice-width, initial-scale=1.0">
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}?{% now 'U' %}">
        <link rel="icon" type="image/png"  href="{% static 'me/prt.png' %}">
        <title>Portfolio</title>
    </head>

    <header>
        <div class="container">
            <a class="logo" href="#home">
                <img src="{% static 'me/prt.png' %}" width="30" height="30" class="d-inline-block align-top">
            </a>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">Designs</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="{% static 'me/cv_final.pdf' %}" target="_blank">Resume</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <body>
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>{{ home.greetings_1 }}</span><br>{{ home.greetings_2 }}</h1>
                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>
                    <img src="{{ home.picture.url }}" alt="" class="home__img">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About Me</h2>
                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{{ about.profile_img.url }}" alt="">
                    </div>
                    <div>
                        <h2 class="about__subtitle">{{ about.heading }}</h2>
                        <p class="about__text">{{ about.description|linebreaks }}</p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>
                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        {% for category in categories %}
                        <h3 class="skills__subtitle">{{category.name}}</h3>
                            {% for skills in category.skills_set.all %}
                                <span class="skills__name">{{skills.skill_name}}</span>
                            {% endfor %}

                            <div class="skills__box">
                                {% if category.name == 'Web Development' %}
                                <h5>projects</h5>
                                {% else %}
                                <h5>profiles</h5>
                                {% endif %}
                                {% for sample in category.worksample_set.all %}
                                <a href="{{ sample.link }}"><img src="{{ sample.icon.url }}" alt="" class="sample__name"></a>
                            {% endfor %}
                            </div>

                        {% endfor %}

                    </div>
                    <!--put nice image here -->
                    <div class="skills__img">
                        <img src="{% static 'assets/img/skill.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== PORTFOLIO(designs) =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Designs</h2>
                <div class="portfolio__container bd-grid">
                    {% for designs in designs %}
                    <div class="item">
                    <div class="portfolio__img">
                        <img src="{{ designs.image.url }}" alt="">
                        <div class="portfolio__link">
                            <a href="{{ designs.link }}" class="portfolio__link-name">See More Related {{ designs.title }}</a>
                        </div>
                    </div>
                        <h3 class="design__subtitle">{{designs.title}}</h3>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>
                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">Say Hello!! I'll reach you back.</h3>
                       <a href="https://mail.google.com/mail/u/0/?to=anand00525@gmail.com&tf=cm"><img src="{% static 'assets/img/gmail.png' %}" alt="" class="contact__pg"></a>
                    </div>
                    <div class="contact__info">
                        <h3 class="contact__subtitle">or ping me directly if important</h3>
                        <a href="tel:+91-8586-808506"><img src="{% static 'assets/img/phone.png' %}" alt="" class="contact__pg"></a>
                    </div>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">Anand Sharma</h2>
                    <p class="footer__text">I'm Anand Sharma and this is my portfolio site</p>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="https://www.linkedin.com/in/anand-sharma-ducs23/" class="fa fa-linkedin"></a>
                    <a href="https://github.com/AnandSharma98" class="fa fa-github"></a>
                </div>
            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>